<!DOCTYPE html>

<div class='container bobBooks'> 
	<div class='row booksContainer'>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/bob_hardcover/bob_book1.jpg" alt="...">
    
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book2.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book3.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book4.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book5.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book6.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book7.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book8.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book9.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book10.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book11.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book12.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book13.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book14.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book15.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book16.jpg" alt="...">
    </div>
    <div class="item">
      <img src="img/bob_hardcover/bob_book17.jpg" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  </a>
</div>

<br />
<br />
<br />
<br />		
		<div class=''>
			<p class='bookInfo'>The Bob<span class="periods">.</span> Book Hardcover Edition </p>
			<a href='https://the-bob-book.myshopify.com/products/thebob-book'><button class="btn btn-primary rachel2">Buy Now</button></a>
		</div>
	</div>

</div>
