<!DOCTYPE html>

<div class='container bobBooks'> 
	<div class='row'>
		<div class='col-md-4 col-md-offset-2'>
			<img id='bobHardcover' src="img/bobBookCover.jpg" class='image-responsive books' alt='The Bob Story'>
			<p class='bookInfo'>Inspired by my tattoo Bob the Elephant. </p>
			<a><button class="btn btn-primary">Purchase</button></a>
			<a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="Buy now with PayPal" /></a>
		</div>
		<div class='col-md-4 col-md-offset-2'>
			<img src="img/dinoBook.jpg" class='image-responsive books' alt='The Owl Story'>
			<p class='bookInfo'> Ebook Edition. Great if you want it NOW.</p>
			<a><button class="btn btn-primary">Purchase</button></a>
			<a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="Buy now with PayPal" /></a>
		</div>
	</div>

</div>
