<!DOCTYPE html>

<div class='container bobBooks'> 
	<div class='row booksContainer'>
		<div class='col-md-4 col-md-offset-2'>
			<img id='bobHardcover' src="img/bobBookCover.jpg" class='img-responsive img-rounded books' alt='The Bob Story'>
			<p class='bookInfo'>Bob Story Hardcover Book </p>
			<a><button class="btn btn-primary">Purchase</button></a>
			<a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="Buy now with PayPal" /></a>
		</div>
		<div class='col-md-4 col-md-offset-2'>
			<img src="img/Bob Rachel v1-page-002.jpg" class='image-responsive books' alt='The Owl Story'>
			<p class='bookInfo'> E-book Edition</p>
			<a><button class="btn btn-primary">Purchase</button></a>
			<a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="Buy now with PayPal" /></a>
		</div>
	</div>

</div>
