<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header rachel">Bob<span class="periods">.</span> Merchandise</h1>
                <a href="https://the-bob-book.myshopify.com/collections/all"><i class="fa fa-home fa-3x" aria-hidden="true"></i><span class="rachel3">&nbsp;&nbsp;&nbsp;Visit Store</span></a> 
                <br />
                <br />
                <br />
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/thebob-book">
                    <img class="img-responsive" src="img/bob_merch/bobfront.jpg" alt="">
                </a>
                <h4 class="rachel">The Bob<span class="periods">.</span> Book</h4>
                <h5 class="comic"><strong>$12.99</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/assorted-bob-postcards">
                    <img class="img-responsive" src="img/bob_merch/merch1.jpg" alt="">
                </a>
                <h4 class="rachel">Assorted Bob<span class="periods">.</span> Postcards</h4>
                <h5 class="comic"><strong>$3.00</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-tote-bag">
                    <img class="img-responsive" src="img/bob_merch/merch12.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> Tote Bag</h4>
                <h5 class="comic"><strong>$15.00</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-ninja-sticker-1">
                    <img class="img-responsive" src="img/bob_merch/merch5.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Ninja Sticker</h4>
                <h5 class="comic"><strong>$2.00</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-punk-rocker-sticker">
                    <img class="img-responsive" src="img/bob_merch/merch10.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Punk Rocker Sticker</h4>
                <h5 class="comic"><strong>$2.00</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-party-starter-sticker">
                    <img class="img-responsive" src="img/bob_merch/merch9.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Party Starter Sticker</h4>
                <h5 class="comic"><strong>$2.00</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-ninja-sticker">
                    <img class="img-responsive" src="img/bob_merch/merch6.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Ninja Button</h4>
                <h5 class="comic"><strong>$1.50</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-party-starter-button">
                    <img class="img-responsive" src="img/bob_merch/merch7.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Punk Rocker Button</h4>
                <h5 class="comic"><strong>$1.50</strong></h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/bob_merch/merch8.jpg">
                    <img class="img-responsive" src="img/bob_merch/merch8.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Party Starter Button</h4>
                <h5 class="comic"><strong>$1.50</strong></h5>
            </div>
      		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://the-bob-book.myshopify.com/products/bob-the-postage-sticker">
                    <img class="img-responsive" src="img/bob_merch/merch11.jpg" alt="">
                </a>
                <h4 class="rachel">Bob<span class="periods">.</span> The Postage Sticker</h4>
                <h5 class="comic"><strong>$2.00</strong></h5>
            </div>
         
        </div>