<div class='container master'>
        <div class='container-fluid'>
            <div class="title">
                <h2 class="rachel4">Bob<span class="comic">.</span></h2>
            </div>
        </div>
        <div id='intro' class='row '>   
               
        </div>
        
</div>
