<div class='container master'>
        <div class='row'>
            <img id='homePic' src='img/bobBookCover.jpg' class='img-responsive' alt='Landing Page'>
        </div>
        <div id='intro' class='row '>
                <h3>My Tattoo Elephant Bob </h3>
        </div>
        <div id='contact' class='row'>
            <div class='col-md-12'>
                <a href="tel:12016156170"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
                <a href="mailto:rmagee0227@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/vivas89"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
</div>
