<div class='container master'>
        <div class='container-fluid'>
            <div class="">
                <a href="/bobPg1">
                    <img id='homePic' src='img/Bob Rachel v1-page-001.jpg' class='img-responsive' alt='Landing Page'>
                </a>
            </div>
        </div>
        <div id='intro' class='row '>   
               
        </div>
        
</div>
