body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, monospace, Courier;
}

body p {
    font-size: 15px;
}

/* 
 * Navigation Menu */

@font-face {
    font-family: "rachelFont";
    src: url("../fonts/BobMagee-Regular.otf");
}

.navbar-default {
       background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}

.nav {
    font-family: rachelFont, "Comic Sans MS", cursive, sans-serif;
    display: flex;
    vertical-align: top;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a {
    color: #5C5050;
    padding-right: inherit;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #4C4C49; 
    color: black;
    border-radius: 15px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(250, 235, 215, 0);
}

.navbar-default .navbar-toggle {
        border-color: white;
        border-width: 1px;
        border-radius: 5px;
    }

.navbar {
    text-align: center;
}

.navbar-brand {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.periods {
    font-family: Arial;
}

@media (min-width: 415px) {
  .navbar-default .navbar-nav>li>a {
    margin-right: 40px;
  }
}
 
#brandImage {
    margin-top: -15px;
    width: 50px;
}   

.logo {
    width: 30px;
}
/*
 * Main Body */

.master {
    text-align: -webkit-center;
}

#home {
    padding: 30px;
    text-align: center;
}


#homePic {
    border-radius: 4px;	
    width: 650px;
}

#headTitle {
    font-family: Georgia;
    font-size: 45px;
}

.computerAnything{
	color: #206C25;
    font-size: 25px;
    font-family: fantasy;
}

#home img {
    width: 100px;
    margin: auto;
    
}

/*
 * Contact */

#contact {
    padding: 10px; 
    color: #C6A27B;
    background-color: white; 
    text-align: center;
    margin-top: 30px;
}
span.glyphicon-phone {
	font-size: 3.2em;
}

span.glyphicon-envelope {
	font-size: 3.2em;
	margin-left: 25px;
	margin-top: 25px;
}

#contact a {
    color: #4C4C49;
    padding-left: 25px;
}
/*
#emailText {
	margin-left: 20px;
}
*/

#bottomHeader {
	
}

.tutoringAge span {
    padding-right: 10px;
}

/*
 * Index Page */

 #intro {
    font-family: "Comic Sans MS", cursive, sans-serif;
 }

/*
 * Bob Books Page */

.books {
}

.booksContainer {
    text-align: -webkit-center;
}

.bookInfo{
    
    font-family: rachelFont, "Comic Sans MS", sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

/*
 *Buy Bob Page */

.buyBob {
    text-align: -webkit-center;
    font-family: rachelFont, "Comic Sans MS";
}

.buyBob > h1 {
    color: #4c4c49;
}

.buyBob > img {
    width: 500px;
}

/*
 *Photo Gallery */

.photoGallery {
    margin-top: 30px;
}

.rachel {
    font-family: rachelFont, "Comic Sans MS";
}

.rachel2 {
    font-family: "Comic Sans MS";
    font-size: 15px;
}

.rachel3 {
    font-family: rachelFont, "Comic Sans MS";
    font-size: 18px;
}

.rachel4 {
    font-family: rachelFont, "Comic Sans MS";
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.comic {
    font-family: "Comic Sans MS";
}



@media (min-width: 415px) {
  .navbar-default .navbar-nav>li>a {
    margin-right: 40px;
  }
}




















